{% csrf_token %}
{% for field in form.hidden_fields %}
    {{ field }}
{% endfor %}
{% for field in form.visible_fields %}
    {% if field.name == 'honeypot' %}
        <div class="honeypot">{{ field }}</div>
    {% else %}
        <div class="form-group">
            {% if field.errors %}
                <div class="error-list">
                    {% for error in field.errors %}
                        <p class="error-description">
                            <strong>{{ error }}</strong>
                        </p>
                    {% endfor %}
                </div>
            {% endif %}
            {% if field.help_text %}
                <p class="help-block">{{ field.help_text }}</p>
            {% endif %}
            <label for="id_{{ field.name }}" class="control-label col-sm-1">
                {{ field.label }}
            </label>
            <div class="col-sm-11">
                {{ field }}
            </div>
        </div>
    {% endif %}
{% endfor %}
<div class="form-group">
    <div class="col-sm-offset-1 col-sm-11">
        <button class="btn btn-primary" type="submit" name="submit">
            {{ btn_name }}
        </button>
    </div>
</div>