@charset "utf-8";
#messages-list {
    background-color: #6ed488;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 10px;
    font-size: larger;
    font-weight: bold;
    font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
}
#messages-list .ERROR {
    color: #ff0000;
}
.honeypot {
    display: none;
}

.jumbotron {
    background-image: url("/static/images/rango.jpg");
    background-size: cover;
    height: 100%;
}