{% extends 'rango/base.html' %}
{% block title %}Add a Page{% endblock %}
{% block content %}
    {% if category %}
        <h2>Add a Page to
            <a href="{% url 'show_category' category.slug %}">{{ category.name }}</a> category
        </h2>
        <form action="" id="page_form" method="post" role="form" class="form-horizontal">
            {% csrf_token %}
            {% for field in form.hidden_fields %}
                {{ field }}
            {% endfor %}
            {% for field in form.visible_fields %}
                <div class="form-group">
                    {{ field.errors }}
                    {{ field.help_text }}<br>
                    {{ field.label_tag }}
                    {{ field }}
                </div>
            {% endfor %}
            <button class="btn btn-primary" type="submit" name="submit">
                Add Page
            </button>
        </form>
    {% else %}
        <p>This category does not exist</p>
    {% endif %}
{% endblock %}