{% extends 'rango/base.html' %}
{% block title %}
    Category list
{% endblock %}
{% block content %}
    <div class="page-header">
        <h2>All categories</h2>
    </div>
    <ul class="list-group">
        {% for category in category_list %}
            <li class="list-group-item"><a href="{% url 'show_category' category.slug %}">
                {{ category.name }}</a><span class="badge">{{ category.likes }} likes</span>
            </li>
        {% empty %}
            <strong>There are no categories present.</strong>
        {% endfor %}
    </ul>
    {% include 'generic/pagination.html' %}
{% endblock %}