{% extends 'rango/base.html' %}
{% load static %}
{% block title %}User Profiles{% endblock %}
{% block content %}
    <h1>User Profiles</h1>
    <div class="panel">
        {% if userprofile_list %}
            <div class="panel-heading">
                <!-- Display search results in an ordered list -->
                <div class="panel-body">
                    <div class="list-group">
                        {% for userprofile in userprofile_list %}
                            <div class="list-group-item">
                                <span>
                                    {% if userprofile.picture %}
                                        <img src="{{ MEDIA_URL }}{{ userprofile.picture }}"
                                             alt="" width="64" height="64">
                                    {% else %}
                                        <img src="http://lorempixel.com/300/300/people/"
                                             alt="Random" width="64" height="64">
                                    {% endif %}
                                </span>
                                <h4 class="list-group-item-heading">
                                    <a href="{% url 'profile' userprofile.user.username %}">
                                        {{ userprofile.user.username }}
                                    </a>
                                </h4>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% else %}
            <p>There are no users for the site.</p>
        {% endif %}
    </div>
{% endblock %}