{% extends 'rango/base.html' %}
{% load static %}
{% block title %}{{ selecteduser.username }} Profile{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-8">
            <div class="well well-lg">
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <img src="http://lorempixel.com/380/500/people/" alt="" class="img-rounded img-responsive">
                    </div>
                    <div class="col-sm-6 col-md-8">
                        <h4>Some Name</h4>
                        <small>
                            <cite title="Tashkent, Uzbekistan">
                                Tashkent, Uzbekistan
                                <i class="glyphicon glyphicon-map-marker"></i>
                            </cite>
                        </small>
                        <p>
                            <i class="glyphicon glyphicon-envelope"></i>
                            email@example.com
                            <br>
                            <i class="glyphicon glyphicon-globe"></i>
                            <a href="#">google.com</a>
                            <br>
                            <i class="glyphicon glyphicon-gift"></i>
                            June 2, 1988
                        </p>
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary">
                                Social
                            </button>
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span>
                                <span class="sr-only">Social</span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="#" target="_blank">
                                      Twitter
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank">
                                      Facebook
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank">
                                      Github
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h1>{{ selecteduser.username }} Profile</h1>
    {% if userprofile.picture %}
        <img src="{{ MEDIA_URL }}{{ userprofile.picture }}"
             alt="{{ selecteduser.username }}" width="300" height="300">
    {% else %}
        <img src="http://lorempixel.com/300/300/people/" alt="Random">
    {% endif %}
    <br>
    <div>
        <br>
        {% if selecteduser.username == user.username %}
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Update">
            </form>
        {% else %}
            <p><strong>Website: </strong> <a href="{{ userprofile.website }}">
                {{ userprofile.website }}
            </a></p>
        {% endif %}
    </div>
    <div id="edit_profile"></div>
{% endblock %}